USE [master]
GO
/****** Object:  Database [db_ac228a_vafmadow]    Script Date: 12/19/2025 9:22:42 PM ******/
CREATE DATABASE [db_ac228a_vafmadow]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'juba_clinick', FILENAME = N'H:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\db_ac228a_vafmadow_data.mdf' , SIZE = 8192KB , MAXSIZE = 1024000KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'juba_clinick_log', FILENAME = N'H:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\db_ac228a_vafmadow_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_ac228a_vafmadow].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_ac228a_vafmadow]
GO
/****** Object:  Table [dbo].[pharmacy_user]    Script Date: 12/19/2025 9:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pharmacy_user](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
 CONSTRAINT [PK_pharmacy_user] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pharmacy_returns]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pharmacy_returns](
	[returnid] [int] IDENTITY(1,1) NOT NULL,
	[return_invoice] [varchar](50) NOT NULL,
	[original_saleid] [int] NOT NULL,
	[original_invoice] [varchar](50) NULL,
	[customer_name] [varchar](100) NULL,
	[return_date] [datetime] NOT NULL,
	[total_return_amount] [float] NOT NULL,
	[return_reason] [varchar](500) NULL,
	[processed_by] [int] NULL,
	[status] [int] NOT NULL,
	[refund_method] [varchar](50) NULL,
 CONSTRAINT [PK_pharmacy_returns] PRIMARY KEY CLUSTERED 
(
	[returnid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pharmacy_return_items]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pharmacy_return_items](
	[return_item_id] [int] IDENTITY(1,1) NOT NULL,
	[returnid] [int] NOT NULL,
	[original_sale_item_id] [int] NOT NULL,
	[medicineid] [int] NOT NULL,
	[inventoryid] [int] NOT NULL,
	[quantity_type] [varchar](50) NOT NULL,
	[quantity_returned] [float] NOT NULL,
	[original_unit_price] [float] NOT NULL,
	[return_amount] [float] NOT NULL,
	[original_cost_price] [float] NOT NULL,
	[profit_reversed] [float] NOT NULL,
 CONSTRAINT [PK_pharmacy_return_items] PRIMARY KEY CLUSTERED 
(
	[return_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pharmacy_sales]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pharmacy_sales](
	[saleid] [int] IDENTITY(1,1) NOT NULL,
	[invoice_number] [varchar](50) NULL,
	[customerid] [int] NULL,
	[customer_name] [varchar](100) NULL,
	[sale_date] [datetime] NULL,
	[total_amount] [float] NULL,
	[discount] [float] NULL,
	[final_amount] [float] NULL,
	[sold_by] [int] NULL,
	[payment_method] [varchar](50) NULL,
	[status] [int] NULL,
	[total_cost] [float] NULL,
	[total_profit] [float] NULL,
	[sale_id] [int] NULL,
 CONSTRAINT [PK_pharmacy_sales] PRIMARY KEY CLUSTERED 
(
	[saleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_pharmacy_returns_detail]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_pharmacy_returns_detail]
AS
SELECT 
    pr.returnid,
    pr.return_invoice,
    pr.original_saleid,
    pr.original_invoice,
    ps.customer_name,
    pr.return_date,
    pr.total_return_amount,
    pr.return_reason,
    pr.refund_method,
    pr.processed_by,
    pu.fullname as processed_by_name,
    pr.status,
    COUNT(pri.return_item_id) as items_returned,
    SUM(pri.quantity_returned) as total_quantity_returned,
    SUM(pri.profit_reversed) as total_profit_reversed
FROM pharmacy_returns pr
LEFT JOIN pharmacy_return_items pri ON pr.returnid = pri.returnid
LEFT JOIN pharmacy_sales ps ON pr.original_saleid = ps.saleid
LEFT JOIN pharmacy_user pu ON pr.processed_by = pu.userid
GROUP BY 
    pr.returnid, pr.return_invoice, pr.original_saleid, pr.original_invoice,
    ps.customer_name, pr.return_date, pr.total_return_amount, pr.return_reason,
    pr.refund_method, pr.processed_by, pu.fullname, pr.status
GO
/****** Object:  Table [dbo].[pharmacy_sales_items]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pharmacy_sales_items](
	[sale_item_id] [int] IDENTITY(1,1) NOT NULL,
	[saleid] [int] NULL,
	[medicineid] [int] NULL,
	[inventoryid] [int] NULL,
	[quantity_type] [varchar](20) NULL,
	[quantity] [int] NULL,
	[unit_price] [float] NULL,
	[total_price] [float] NULL,
	[cost_price] [float] NULL,
	[profit] [float] NULL,
	[sale_id] [int] NULL,
	[medicine_id] [int] NULL,
	[inventory_id] [int] NULL,
 CONSTRAINT [PK_pharmacy_sales_items] PRIMARY KEY CLUSTERED 
(
	[sale_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_pharmacy_sales_with_profit]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_pharmacy_sales_with_profit]
AS
SELECT 
    ps.saleid,
    ps.invoice_number,
    ps.customer_name,
    ps.sale_date,
    ps.total_amount,
    ps.discount,
    ps.final_amount,
    ps.payment_method,
    ps.sold_by,
    ps.status,
    ISNULL(SUM(psi.profit_amount), 0) AS total_profit,
    ISNULL(SUM(psi.purchase_price * psi.quantity), 0) AS total_cost
FROM pharmacy_sales ps
LEFT JOIN pharmacy_sales_items psi ON ps.saleid = psi.saleid
GROUP BY 
    ps.saleid, ps.invoice_number, ps.customer_name, ps.sale_date,
    ps.total_amount, ps.discount, ps.final_amount, ps.payment_method,
    ps.sold_by, ps.status;
GO
/****** Object:  Table [dbo].[admin]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[charges_config]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[charges_config](
	[charge_config_id] [int] IDENTITY(1,1) NOT NULL,
	[charge_type] [varchar](50) NULL,
	[charge_name] [varchar](100) NULL,
	[amount] [float] NULL,
	[is_active] [bit] NULL,
	[date_added] [datetime] NULL,
	[last_updated] [datetime] NULL,
 CONSTRAINT [PK_charges_config] PRIMARY KEY CLUSTERED 
(
	[charge_config_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor](
	[doctorid] [int] IDENTITY(1,1) NOT NULL,
	[doctorname] [varchar](50) NULL,
	[doctortitle] [varchar](50) NULL,
	[doctornumber] [varchar](50) NULL,
	[usertypeid] [int] NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
 CONSTRAINT [PK_doctor] PRIMARY KEY CLUSTERED 
(
	[doctorid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hospital_settings]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hospital_settings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hospital_name] [nvarchar](200) NOT NULL,
	[hospital_address] [nvarchar](500) NULL,
	[hospital_phone] [nvarchar](50) NULL,
	[hospital_email] [nvarchar](100) NULL,
	[hospital_website] [nvarchar](200) NULL,
	[sidebar_logo_path] [nvarchar](500) NULL,
	[print_header_logo_path] [nvarchar](500) NULL,
	[print_header_text] [nvarchar](1000) NULL,
	[created_date] [datetime] NULL,
	[updated_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lab_results]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lab_results](
	[lab_result_id] [int] IDENTITY(1,1) NOT NULL,
	[Biochemistry] [varchar](255) NULL,
	[Lipid_profile] [varchar](255) NULL,
	[Low_density_lipoprotein_LDL] [varchar](255) NULL,
	[High_density_lipoprotein_HDL] [varchar](255) NULL,
	[Total_cholesterol] [varchar](255) NULL,
	[Triglycerides] [varchar](255) NULL,
	[Liver_function_test] [varchar](255) NULL,
	[SGPT_ALT] [varchar](255) NULL,
	[SGOT_AST] [varchar](255) NULL,
	[Alkaline_phosphates_ALP] [varchar](255) NULL,
	[Total_bilirubin] [varchar](255) NULL,
	[Direct_bilirubin] [varchar](255) NULL,
	[Albumin] [varchar](255) NULL,
	[JGlobulin] [varchar](255) NULL,
	[Renal_profile] [varchar](255) NULL,
	[Urea] [varchar](255) NULL,
	[Creatinine] [varchar](255) NULL,
	[Uric_acid] [varchar](255) NULL,
	[Electrolytes] [varchar](255) NULL,
	[Sodium] [varchar](255) NULL,
	[Potassium] [varchar](255) NULL,
	[Chloride] [varchar](255) NULL,
	[Calcium] [varchar](255) NULL,
	[Phosphorous] [varchar](255) NULL,
	[Magnesium] [varchar](255) NULL,
	[Pancreases] [varchar](255) NULL,
	[Amylase] [varchar](255) NULL,
	[Hematology] [varchar](255) NULL,
	[Hemoglobin] [varchar](255) NULL,
	[Malaria] [varchar](255) NULL,
	[ESR] [varchar](255) NULL,
	[Blood_grouping] [varchar](255) NULL,
	[Blood_sugar] [varchar](255) NULL,
	[CBC] [varchar](255) NULL,
	[Cross_matching] [varchar](255) NULL,
	[Immunology_Virology] [varchar](255) NULL,
	[TPHA] [varchar](255) NULL,
	[Human_immune_deficiency_HIV] [varchar](255) NULL,
	[Hepatitis_B_virus_HBV] [varchar](255) NULL,
	[Hepatitis_C_virus_HCV] [varchar](255) NULL,
	[Brucella_melitensis] [varchar](255) NULL,
	[Brucella_abortus] [varchar](255) NULL,
	[C_reactive_protein_CRP] [varchar](255) NULL,
	[Rheumatoid_factor_RF] [varchar](255) NULL,
	[Antistreptolysin_O_ASO] [varchar](255) NULL,
	[Toxoplasmosis] [varchar](255) NULL,
	[Typhoid_hCG] [varchar](255) NULL,
	[Hpylori_antibody] [varchar](255) NULL,
	[Parasitology] [varchar](255) NULL,
	[Stool_occult_blood] [varchar](255) NULL,
	[General_stool_examination] [varchar](255) NULL,
	[Hormones] [varchar](255) NULL,
	[Thyroid_profile] [varchar](255) NULL,
	[Triiodothyronine_T3] [varchar](255) NULL,
	[Thyroxine_T4] [varchar](255) NULL,
	[Thyroid_stimulating_hormone_TSH] [varchar](255) NULL,
	[Fertility_profile] [varchar](255) NULL,
	[Progesterone_Female] [varchar](255) NULL,
	[Follicle_stimulating_hormone_FSH] [varchar](255) NULL,
	[Estradiol] [varchar](255) NULL,
	[Luteinizing_hormone_LH] [varchar](255) NULL,
	[Testosterone_Male] [varchar](255) NULL,
	[Prolactin] [varchar](255) NULL,
	[Seminal_Fluid_Analysis_Male_B_HCG] [varchar](255) NULL,
	[Clinical_path] [varchar](255) NULL,
	[Urine_examination] [varchar](255) NULL,
	[Stool_examination] [varchar](255) NULL,
	[Sperm_examination] [varchar](255) NULL,
	[Virginal_swab_trichomonas_virginals] [varchar](255) NULL,
	[Human_chorionic_gonadotropin_hCG] [varchar](255) NULL,
	[Hpylori_Ag_stool] [varchar](255) NULL,
	[Diabetes] [varchar](255) NULL,
	[Fasting_blood_sugar] [varchar](255) NULL,
	[Hemoglobin_A1c] [varchar](255) NULL,
	[General_urine_examination] [varchar](255) NULL,
	[prescid] [int] NULL,
	[date_taken] [datetime] NULL,
	[lab_test_id] [int] NULL,
	[AMH] [varchar](255) NULL,
	[Troponin_I] [varchar](255) NULL,
	[CK_MB] [varchar](255) NULL,
	[aPTT] [varchar](255) NULL,
	[INR] [varchar](255) NULL,
	[D_Dimer] [varchar](255) NULL,
	[Vitamin_D] [varchar](255) NULL,
	[Vitamin_B12] [varchar](255) NULL,
	[Ferritin] [varchar](255) NULL,
	[VDRL] [varchar](255) NULL,
	[Dengue_Fever_IgG_IgM] [varchar](255) NULL,
	[Gonorrhea_Ag] [varchar](255) NULL,
	[AFP] [varchar](255) NULL,
	[Total_PSA] [varchar](255) NULL,
	[Electrolyte_Test] [varchar](255) NULL,
	[CRP_Titer] [varchar](255) NULL,
	[Ultra] [varchar](255) NULL,
	[Typhoid_IgG] [varchar](255) NULL,
	[Typhoid_Ag] [varchar](255) NULL,
 CONSTRAINT [PK_lab_results] PRIMARY KEY CLUSTERED 
(
	[lab_result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lab_test]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lab_test](
	[med_id] [int] IDENTITY(1,1) NOT NULL,
	[Low_density_lipoprotein_LDL] [varchar](255) NULL,
	[High_density_lipoprotein_HDL] [varchar](255) NULL,
	[Total_cholesterol] [varchar](255) NULL,
	[Triglycerides] [varchar](255) NULL,
	[SGPT_ALT] [varchar](255) NULL,
	[SGOT_AST] [varchar](255) NULL,
	[Alkaline_phosphates_ALP] [varchar](255) NULL,
	[Total_bilirubin] [varchar](255) NULL,
	[Direct_bilirubin] [varchar](255) NULL,
	[Albumin] [varchar](255) NULL,
	[JGlobulin] [varchar](255) NULL,
	[Urea] [varchar](255) NULL,
	[Creatinine] [varchar](255) NULL,
	[Uric_acid] [varchar](255) NULL,
	[Sodium] [varchar](255) NULL,
	[Potassium] [varchar](255) NULL,
	[Chloride] [varchar](255) NULL,
	[Calcium] [varchar](255) NULL,
	[Phosphorous] [varchar](255) NULL,
	[Magnesium] [varchar](255) NULL,
	[Amylase] [varchar](255) NULL,
	[Hemoglobin] [varchar](255) NULL,
	[Malaria] [varchar](255) NULL,
	[ESR] [varchar](255) NULL,
	[Blood_grouping] [varchar](255) NULL,
	[Blood_sugar] [varchar](255) NULL,
	[CBC] [varchar](255) NULL,
	[Cross_matching] [varchar](255) NULL,
	[TPHA] [varchar](255) NULL,
	[Human_immune_deficiency_HIV] [varchar](255) NULL,
	[Hepatitis_B_virus_HBV] [varchar](255) NULL,
	[Hepatitis_C_virus_HCV] [varchar](255) NULL,
	[Brucella_melitensis] [varchar](255) NULL,
	[Brucella_abortus] [varchar](255) NULL,
	[C_reactive_protein_CRP] [varchar](255) NULL,
	[Rheumatoid_factor_RF] [varchar](255) NULL,
	[Antistreptolysin_O_ASO] [varchar](255) NULL,
	[Toxoplasmosis] [varchar](255) NULL,
	[Typhoid_hCG] [varchar](255) NULL,
	[Hpylori_antibody] [varchar](255) NULL,
	[Stool_occult_blood] [varchar](255) NULL,
	[General_stool_examination] [varchar](255) NULL,
	[Thyroid_profile] [varchar](255) NULL,
	[Triiodothyronine_T3] [varchar](255) NULL,
	[Thyroxine_T4] [varchar](255) NULL,
	[Thyroid_stimulating_hormone_TSH] [varchar](255) NULL,
	[Progesterone_Female] [varchar](255) NULL,
	[Follicle_stimulating_hormone_FSH] [varchar](255) NULL,
	[Estradiol] [varchar](255) NULL,
	[Luteinizing_hormone_LH] [varchar](255) NULL,
	[Testosterone_Male] [varchar](255) NULL,
	[Prolactin] [varchar](255) NULL,
	[Seminal_Fluid_Analysis_Male_B_HCG] [varchar](255) NULL,
	[Urine_examination] [varchar](255) NULL,
	[Stool_examination] [varchar](255) NULL,
	[Sperm_examination] [varchar](255) NULL,
	[Virginal_swab_trichomonas_virginals] [varchar](255) NULL,
	[Human_chorionic_gonadotropin_hCG] [varchar](255) NULL,
	[Hpylori_Ag_stool] [varchar](255) NULL,
	[Fasting_blood_sugar] [varchar](255) NULL,
	[Hemoglobin_A1c] [varchar](255) NULL,
	[General_urine_examination] [varchar](255) NULL,
	[prescid] [int] NULL,
	[date_taken] [datetime] NULL,
	[is_reorder] [bit] NULL,
	[reorder_reason] [nvarchar](500) NULL,
	[original_order_id] [int] NULL,
	[AMH] [varchar](255) NULL,
	[Troponin_I] [varchar](255) NULL,
	[CK_MB] [varchar](255) NULL,
	[aPTT] [varchar](255) NULL,
	[INR] [varchar](255) NULL,
	[D_Dimer] [varchar](255) NULL,
	[Vitamin_D] [varchar](255) NULL,
	[Vitamin_B12] [varchar](255) NULL,
	[Ferritin] [varchar](255) NULL,
	[VDRL] [varchar](255) NULL,
	[Dengue_Fever_IgG_IgM] [varchar](255) NULL,
	[Gonorrhea_Ag] [varchar](255) NULL,
	[AFP] [varchar](255) NULL,
	[Total_PSA] [varchar](255) NULL,
	[Electrolyte_Test] [varchar](255) NULL,
	[CRP_Titer] [varchar](255) NULL,
	[Ultra] [varchar](255) NULL,
	[Typhoid_IgG] [varchar](255) NULL,
	[Typhoid_Ag] [varchar](255) NULL,
 CONSTRAINT [PK_medication] PRIMARY KEY CLUSTERED 
(
	[med_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lab_test_prices]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lab_test_prices](
	[test_price_id] [int] IDENTITY(1,1) NOT NULL,
	[test_name] [varchar](100) NOT NULL,
	[test_display_name] [varchar](150) NOT NULL,
	[test_category] [varchar](50) NULL,
	[test_price] [decimal](10, 2) NOT NULL,
	[is_active] [bit] NOT NULL,
	[date_added] [datetime] NOT NULL,
	[last_updated] [datetime] NOT NULL,
 CONSTRAINT [PK_lab_test_prices] PRIMARY KEY CLUSTERED 
(
	[test_price_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lab_user]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lab_user](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [varchar](50) NULL,
	[phone] [int] NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
 CONSTRAINT [PK_lab_user] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medication]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medication](
	[medid] [int] IDENTITY(1,1) NOT NULL,
	[med_name] [varchar](250) NULL,
	[dosage] [varchar](250) NULL,
	[frequency] [varchar](250) NULL,
	[duration] [varchar](250) NULL,
	[special_inst] [varchar](250) NULL,
	[prescid] [int] NULL,
	[date_taken] [date] NULL,
 CONSTRAINT [PK_medication_1] PRIMARY KEY CLUSTERED 
(
	[medid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicine]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicine](
	[medicineid] [int] IDENTITY(1,1) NOT NULL,
	[medicine_name] [varchar](250) NULL,
	[generic_name] [varchar](250) NULL,
	[manufacturer] [varchar](250) NULL,
	[unit] [varchar](50) NULL,
	[price_per_tablet] [float] NULL,
	[price_per_strip] [float] NULL,
	[price_per_box] [float] NULL,
	[tablets_per_strip] [int] NULL,
	[strips_per_box] [int] NULL,
	[date_added] [datetime] NULL,
	[unit_id] [int] NULL,
	[cost_per_tablet] [float] NULL,
	[cost_per_strip] [float] NULL,
	[cost_per_box] [float] NULL,
	[barcode] [varchar](100) NULL,
 CONSTRAINT [PK_medicine] PRIMARY KEY CLUSTERED 
(
	[medicineid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicine_dispensing]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicine_dispensing](
	[dispenseid] [int] IDENTITY(1,1) NOT NULL,
	[medid] [int] NULL,
	[medicineid] [int] NULL,
	[quantity_dispensed] [int] NULL,
	[dispensed_by] [int] NULL,
	[dispense_date] [datetime] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_medicine_dispensing] PRIMARY KEY CLUSTERED 
(
	[dispenseid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicine_inventory]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicine_inventory](
	[inventoryid] [int] IDENTITY(1,1) NOT NULL,
	[medicineid] [int] NULL,
	[total_strips] [int] NULL,
	[loose_tablets] [int] NULL,
	[total_boxes] [int] NULL,
	[reorder_level_strips] [int] NULL,
	[expiry_date] [date] NULL,
	[batch_number] [varchar](50) NULL,
	[purchase_price] [float] NULL,
	[date_added] [datetime] NULL,
	[last_updated] [datetime] NULL,
	[primary_quantity] [int] NULL,
	[secondary_quantity] [float] NULL,
	[unit_size] [float] NULL,
 CONSTRAINT [PK_medicine_inventory] PRIMARY KEY CLUSTERED 
(
	[inventoryid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicine_units]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicine_units](
	[unit_id] [int] IDENTITY(1,1) NOT NULL,
	[unit_name] [varchar](50) NOT NULL,
	[unit_abbreviation] [varchar](10) NULL,
	[is_active] [bit] NOT NULL,
	[created_date] [datetime] NOT NULL,
	[selling_method] [varchar](50) NULL,
	[base_unit_name] [varchar](20) NULL,
	[subdivision_unit] [varchar](20) NULL,
	[allows_subdivision] [bit] NULL,
	[unit_size_label] [varchar](50) NULL,
 CONSTRAINT [PK_medicine_units] PRIMARY KEY CLUSTERED 
(
	[unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patient]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patient](
	[patientid] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [varchar](100) NULL,
	[dob] [date] NULL,
	[amount] [float] NULL,
	[sex] [varchar](50) NULL,
	[location] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[date_registered] [datetime] NULL,
	[patient_status] [int] NULL,
	[patient_type] [varchar](20) NULL,
	[bed_admission_date] [datetime] NULL,
	[delivery_charge] [decimal](10, 2) NULL,
 CONSTRAINT [PK_patient] PRIMARY KEY CLUSTERED 
(
	[patientid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patient_bed_charges]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patient_bed_charges](
	[bed_charge_id] [int] IDENTITY(1,1) NOT NULL,
	[patientid] [int] NOT NULL,
	[prescid] [int] NULL,
	[charge_date] [date] NOT NULL,
	[bed_charge_amount] [decimal](10, 2) NOT NULL,
	[is_paid] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_patient_bed_charges] PRIMARY KEY CLUSTERED 
(
	[bed_charge_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patient_charges]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patient_charges](
	[charge_id] [int] IDENTITY(1,1) NOT NULL,
	[patientid] [int] NULL,
	[prescid] [int] NULL,
	[charge_type] [varchar](50) NULL,
	[charge_name] [varchar](100) NULL,
	[amount] [float] NULL,
	[is_paid] [bit] NULL,
	[paid_date] [datetime] NULL,
	[paid_by] [int] NULL,
	[invoice_number] [varchar](50) NULL,
	[date_added] [datetime] NULL,
	[last_updated] [datetime] NULL,
	[payment_method] [varchar](50) NULL,
	[reference_id] [int] NULL,
 CONSTRAINT [PK_patient_charges] PRIMARY KEY CLUSTERED 
(
	[charge_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pharmacy_customer]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pharmacy_customer](
	[customerid] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [varchar](100) NULL,
	[phone] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[address] [varchar](250) NULL,
	[date_registered] [datetime] NULL,
 CONSTRAINT [PK_pharmacy_customer] PRIMARY KEY CLUSTERED 
(
	[customerid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescribtion]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescribtion](
	[prescid] [int] IDENTITY(1,1) NOT NULL,
	[doctorid] [int] NULL,
	[patientid] [int] NULL,
	[status] [int] NULL,
	[xray_status] [int] NULL,
	[lab_charge_paid] [bit] NULL,
	[xray_charge_paid] [bit] NULL,
	[transaction_status] [varchar](20) NULL,
	[completed_date] [datetime] NULL,
 CONSTRAINT [PK_prescribtion] PRIMARY KEY CLUSTERED 
(
	[prescid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[presxray]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[presxray](
	[prescxrayid] [int] IDENTITY(1,1) NOT NULL,
	[xrayid] [int] NULL,
	[prescid] [int] NULL,
 CONSTRAINT [PK_presxray] PRIMARY KEY CLUSTERED 
(
	[prescxrayid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registre]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registre](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [varchar](50) NULL,
	[phone] [int] NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[usertypeid] [int] NULL,
 CONSTRAINT [PK_registre] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[totalamount]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[totalamount](
	[taid] [int] NOT NULL,
	[prescxrayid] [int] NULL,
	[total] [int] NULL,
 CONSTRAINT [PK_totalamount] PRIMARY KEY CLUSTERED 
(
	[taid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usertype]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usertype](
	[usertypeid] [int] IDENTITY(1,1) NOT NULL,
	[usertype] [varchar](50) NULL,
 CONSTRAINT [PK_usertype] PRIMARY KEY CLUSTERED 
(
	[usertypeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xray]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xray](
	[xrayid] [int] IDENTITY(1,1) NOT NULL,
	[xryname] [varchar](50) NULL,
	[xrydescribtion] [varchar](250) NULL,
	[prescid] [int] NULL,
	[date_taken] [date] NULL,
	[type] [varchar](50) NULL,
 CONSTRAINT [PK_xray] PRIMARY KEY CLUSTERED 
(
	[xrayid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xray_results]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xray_results](
	[xray_result_id] [int] IDENTITY(1,1) NOT NULL,
	[xryimage] [varbinary](max) NULL,
	[prescid] [int] NULL,
	[date_taken] [date] NULL,
	[type] [varchar](50) NULL,
 CONSTRAINT [PK_xray_results] PRIMARY KEY CLUSTERED 
(
	[xray_result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xrayuser]    Script Date: 12/19/2025 9:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xrayuser](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NULL,
	[phone] [int] NULL,
	[fullname] [varchar](50) NULL,
 CONSTRAINT [PK_xrayuser] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([userid], [username], [password]) VALUES (1, N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[admin] OFF
GO
SET IDENTITY_INSERT [dbo].[charges_config] ON 

INSERT [dbo].[charges_config] ([charge_config_id], [charge_type], [charge_name], [amount], [is_active], [date_added], [last_updated]) VALUES (14, N'Registration', N'Dr. Shire', 3, 1, CAST(N'2025-12-15T05:29:45.770' AS DateTime), CAST(N'2025-12-19T20:54:04.253' AS DateTime))
INSERT [dbo].[charges_config] ([charge_config_id], [charge_type], [charge_name], [amount], [is_active], [date_added], [last_updated]) VALUES (17, N'Registration', N'Dr. Fatima', 5, 1, CAST(N'2025-12-15T08:13:54.080' AS DateTime), CAST(N'2025-12-19T20:53:05.940' AS DateTime))
INSERT [dbo].[charges_config] ([charge_config_id], [charge_type], [charge_name], [amount], [is_active], [date_added], [last_updated]) VALUES (18, N'Registration', N'Dr. Issack', 3, 1, CAST(N'2025-12-16T05:48:27.833' AS DateTime), CAST(N'2025-12-19T20:53:40.610' AS DateTime))
SET IDENTITY_INSERT [dbo].[charges_config] OFF
GO
SET IDENTITY_INSERT [dbo].[doctor] ON 

INSERT [dbo].[doctor] ([doctorid], [doctorname], [doctortitle], [doctornumber], [usertypeid], [username], [password]) VALUES (2, N'Fatima bashir elnow', N'Dr Haweenka', N'06000000', NULL, N'fatima', N'fatima')
INSERT [dbo].[doctor] ([doctorid], [doctorname], [doctortitle], [doctornumber], [usertypeid], [username], [password]) VALUES (3, N'Mohamed AbdiHafid Issack', N'Dr Caruurta', N'0611035142', NULL, N'issack', N'issack')
INSERT [dbo].[doctor] ([doctorid], [doctorname], [doctortitle], [doctornumber], [usertypeid], [username], [password]) VALUES (4, N'Mohamed Shire', N'Dr Cudurada Guud', N'061000000', NULL, N'shire', N'shire')
SET IDENTITY_INSERT [dbo].[doctor] OFF
GO
SET IDENTITY_INSERT [dbo].[hospital_settings] ON 

SET IDENTITY_INSERT [dbo].[hospital_settings] OFF
GO
SET IDENTITY_INSERT [dbo].[lab_results] ON 

SET IDENTITY_INSERT [dbo].[lab_results] OFF
GO
SET IDENTITY_INSERT [dbo].[lab_test] ON 

SET IDENTITY_INSERT [dbo].[lab_test] OFF
GO
SET IDENTITY_INSERT [dbo].[lab_test_prices] ON 

INSERT [dbo].[lab_test_prices] ([test_price_id], [test_name], [test_display_name], [test_category], [test_price], [is_active], [date_added], [last_updated]) VALUES (1, N'Hemoglobin', N'Hemoglobin (Hb)', N'Hematology', CAST(1.00 AS Decimal(10, 2)), 1, CAST(N'2025-12-14T01:03:18.373' AS DateTime), CAST(N'2025-12-19T02:58:00.690' AS DateTime))
INSERT [dbo].[lab_test_prices] ([test_price_id], [test_name], [test_display_name], [test_category], [test_price], [is_active], [date_added], [last_updated]) VALUES (2, N'Malaria', N'Malaria Test', N'Hematology', CAST(2.00 AS Decimal(10, 2)), 1, CAST(N'2025-12-14T01:03:18.373' AS DateTime), CAST(N'2025-12-19T03:21:24.857' AS DateTime))
INSERT [dbo].[lab_test_prices] ([test_price_id], [test_name], [test_display_name], [test_category], [test_price], [is_active], [date_added], [last_updated]) VALUES (3, N'ESR', N'Erythrocyte Sedimentation Rate (ESR)', N'Hematology', CAST(2.00 AS Decimal(10, 2)), 1, CAST(N'2025-12-14T01:03:18.373' AS DateTime), CAST(N'2025-12-19T03:21:06.470' AS DateTime))
SET IDENTITY_INSERT [dbo].[lab_test_prices] OFF
GO
SET IDENTITY_INSERT [dbo].[lab_user] ON 

INSERT [dbo].[lab_user] ([userid], [fullname], [phone], [username], [password]) VALUES (2, N'Amino Mahad Farax', 610220202, N'amino', N'amino')
INSERT [dbo].[lab_user] ([userid], [fullname], [phone], [username], [password]) VALUES (4, N'Mohamed hassan nordin', 61661233, N'nordin', N'nordin')
SET IDENTITY_INSERT [dbo].[lab_user] OFF
GO
SET IDENTITY_INSERT [dbo].[medication] ON 

INSERT [dbo].[medication] ([medid], [med_name], [dosage], [frequency], [duration], [special_inst], [prescid], [date_taken]) VALUES (1, N'dhawarxanun', N'ffetrer', N'tertewrt', N'6', N'waraa qaado', 3004, CAST(N'2025-12-15' AS Date))
INSERT [dbo].[medication] ([medid], [med_name], [dosage], [frequency], [duration], [special_inst], [prescid], [date_taken]) VALUES (2, N'seexo', N'233', N'322', N'6days', N'qaqado waraa', 3002, CAST(N'2025-12-15' AS Date))
INSERT [dbo].[medication] ([medid], [med_name], [dosage], [frequency], [duration], [special_inst], [prescid], [date_taken]) VALUES (3, N'aahey', N'uueue', N'2x2', N'9', N'qaqado waraa', 3002, CAST(N'2025-12-15' AS Date))
SET IDENTITY_INSERT [dbo].[medication] OFF
GO
SET IDENTITY_INSERT [dbo].[medicine] ON 

INSERT [dbo].[medicine] ([medicineid], [medicine_name], [generic_name], [manufacturer], [unit], [price_per_tablet], [price_per_strip], [price_per_box], [tablets_per_strip], [strips_per_box], [date_added], [unit_id], [cost_per_tablet], [cost_per_strip], [cost_per_box], [barcode]) VALUES (1, N'Amxlin 250mg', N'qalijiye', N'germane', NULL, 0.1, 0.6, 6, 10, 10, CAST(N'2025-12-15T09:41:55.617' AS DateTime), 1, 0.05, 0.5, 5, NULL)
INSERT [dbo].[medicine] ([medicineid], [medicine_name], [generic_name], [manufacturer], [unit], [price_per_tablet], [price_per_strip], [price_per_box], [tablets_per_strip], [strips_per_box], [date_added], [unit_id], [cost_per_tablet], [cost_per_strip], [cost_per_box], [barcode]) VALUES (2, N'sharoobo qufac', N'qufac', N'somalia', NULL, 0, 2, 0, 1, 1, CAST(N'2025-12-15T09:52:52.533' AS DateTime), 2, 0, 1.5, 0, NULL)
INSERT [dbo].[medicine] ([medicineid], [medicine_name], [generic_name], [manufacturer], [unit], [price_per_tablet], [price_per_strip], [price_per_box], [tablets_per_strip], [strips_per_box], [date_added], [unit_id], [cost_per_tablet], [cost_per_strip], [cost_per_box], [barcode]) VALUES (3, N'dhablo sharoobo', N'dd', N'dd', NULL, 0, 4, 0, 1, 1, CAST(N'2025-12-17T03:16:02.557' AS DateTime), 3, 0, 2, 0, NULL)
SET IDENTITY_INSERT [dbo].[medicine] OFF
GO
SET IDENTITY_INSERT [dbo].[medicine_inventory] ON 

INSERT [dbo].[medicine_inventory] ([inventoryid], [medicineid], [total_strips], [loose_tablets], [total_boxes], [reorder_level_strips], [expiry_date], [batch_number], [purchase_price], [date_added], [last_updated], [primary_quantity], [secondary_quantity], [unit_size]) VALUES (1, 1, 70, 1, 0, 0, CAST(N'2025-12-26' AS Date), N'34', NULL, CAST(N'2025-12-15T09:42:52.320' AS DateTime), CAST(N'2025-12-18T00:27:41.600' AS DateTime), 70, 1, 1)
INSERT [dbo].[medicine_inventory] ([inventoryid], [medicineid], [total_strips], [loose_tablets], [total_boxes], [reorder_level_strips], [expiry_date], [batch_number], [purchase_price], [date_added], [last_updated], [primary_quantity], [secondary_quantity], [unit_size]) VALUES (2, 2, -11, 0, 0, 0, CAST(N'2026-02-18' AS Date), N'456', NULL, CAST(N'2025-12-15T09:53:58.220' AS DateTime), CAST(N'2025-12-17T13:39:23.657' AS DateTime), 7, 0, 1)
INSERT [dbo].[medicine_inventory] ([inventoryid], [medicineid], [total_strips], [loose_tablets], [total_boxes], [reorder_level_strips], [expiry_date], [batch_number], [purchase_price], [date_added], [last_updated], [primary_quantity], [secondary_quantity], [unit_size]) VALUES (3, 3, -5, 0, 0, 10, CAST(N'2025-12-20' AS Date), N'ffff', NULL, CAST(N'2025-12-17T03:16:21.030' AS DateTime), CAST(N'2025-12-17T13:39:24.577' AS DateTime), 48, 0, 1)
SET IDENTITY_INSERT [dbo].[medicine_inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[medicine_units] ON 

INSERT [dbo].[medicine_units] ([unit_id], [unit_name], [unit_abbreviation], [is_active], [created_date], [selling_method], [base_unit_name], [subdivision_unit], [allows_subdivision], [unit_size_label]) VALUES (1, N'tablet', N'tbl', 1, CAST(N'2025-12-15T09:38:41.803' AS DateTime), N'countable', N'piece', N'strip', 1, NULL)
INSERT [dbo].[medicine_units] ([unit_id], [unit_name], [unit_abbreviation], [is_active], [created_date], [selling_method], [base_unit_name], [subdivision_unit], [allows_subdivision], [unit_size_label]) VALUES (2, N'bottle', N'sharooble', 1, CAST(N'2025-12-15T09:51:21.487' AS DateTime), N'countable', N'bottle', NULL, 0, NULL)
INSERT [dbo].[medicine_units] ([unit_id], [unit_name], [unit_abbreviation], [is_active], [created_date], [selling_method], [base_unit_name], [subdivision_unit], [allows_subdivision], [unit_size_label]) VALUES (3, N'syrup', N'syrp', 1, CAST(N'2025-12-17T03:15:28.280' AS DateTime), N'countable', N'bottle', NULL, 0, N'Dhalo')
SET IDENTITY_INSERT [dbo].[medicine_units] OFF
GO
SET IDENTITY_INSERT [dbo].[patient] ON 

INSERT [dbo].[patient] ([patientid], [full_name], [dob], [amount], [sex], [location], [phone], [date_registered], [patient_status], [patient_type], [bed_admission_date], [delivery_charge]) VALUES (1001, N'fadumo cali aden', CAST(N'2016-01-21' AS Date), NULL, N'female', N'calanley', N'6666666', CAST(N'2025-12-15T16:32:15.877' AS DateTime), 0, N'outpatient', NULL, CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[patient] ([patientid], [full_name], [dob], [amount], [sex], [location], [phone], [date_registered], [patient_status], [patient_type], [bed_admission_date], [delivery_charge]) VALUES (1002, N'jamac abdinor salah', CAST(N'2025-12-15' AS Date), NULL, N'male', N'gulwade', N'444444', CAST(N'2025-12-15T16:55:16.397' AS DateTime), 0, N'outpatient', NULL, CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[patient] ([patientid], [full_name], [dob], [amount], [sex], [location], [phone], [date_registered], [patient_status], [patient_type], [bed_admission_date], [delivery_charge]) VALUES (1003, N'rrr', CAST(N'2025-12-11' AS Date), NULL, N'male', N'rr', N'5544', CAST(N'2025-12-15T17:50:43.537' AS DateTime), 0, N'outpatient', NULL, CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[patient] OFF
GO
SET IDENTITY_INSERT [dbo].[patient_bed_charges] ON 

INSERT [dbo].[patient_bed_charges] ([bed_charge_id], [patientid], [prescid], [charge_date], [bed_charge_amount], [is_paid], [created_at]) VALUES (1, 1007, 3007, CAST(N'2025-12-16' AS Date), CAST(2.00 AS Decimal(10, 2)), 0, CAST(N'2025-12-16T22:51:56.447' AS DateTime))
INSERT [dbo].[patient_bed_charges] ([bed_charge_id], [patientid], [prescid], [charge_date], [bed_charge_amount], [is_paid], [created_at]) VALUES (2, 1006, 3006, CAST(N'2025-12-15' AS Date), CAST(2.00 AS Decimal(10, 2)), 0, CAST(N'2025-12-16T22:58:29.273' AS DateTime))
INSERT [dbo].[patient_bed_charges] ([bed_charge_id], [patientid], [prescid], [charge_date], [bed_charge_amount], [is_paid], [created_at]) VALUES (3, 1006, 3006, CAST(N'2025-12-16' AS Date), CAST(2.00 AS Decimal(10, 2)), 0, CAST(N'2025-12-16T22:58:29.823' AS DateTime))
SET IDENTITY_INSERT [dbo].[patient_bed_charges] OFF
GO
SET IDENTITY_INSERT [dbo].[patient_charges] ON 

INSERT [dbo].[patient_charges] ([charge_id], [patientid], [prescid], [charge_type], [charge_name], [amount], [is_paid], [paid_date], [paid_by], [invoice_number], [date_added], [last_updated], [payment_method], [reference_id]) VALUES (1, 1001, NULL, N'Registration', N'Registration', 4, 1, NULL, NULL, N'REG-20251215-1001', CAST(N'2025-12-15T05:32:15.893' AS DateTime), CAST(N'2025-12-15T05:32:15.893' AS DateTime), NULL, NULL)
INSERT [dbo].[patient_charges] ([charge_id], [patientid], [prescid], [charge_type], [charge_name], [amount], [is_paid], [paid_date], [paid_by], [invoice_number], [date_added], [last_updated], [payment_method], [reference_id]) VALUES (2, 1001, 3001, N'Lab', N'Complete Blood Count (CBC)', 0, 1, CAST(N'2025-12-15T16:39:06.150' AS DateTime), 1, N'LAB-20251215-3001', CAST(N'2025-12-15T16:36:06.100' AS DateTime), CAST(N'2025-12-15T19:33:51.553' AS DateTime), N'Cash', 1)
INSERT [dbo].[patient_charges] ([charge_id], [patientid], [prescid], [charge_type], [charge_name], [amount], [is_paid], [paid_date], [paid_by], [invoice_number], [date_added], [last_updated], [payment_method], [reference_id]) VALUES (3, 1001, 3001, N'Lab', N'Urine Examination', 0, 1, CAST(N'2025-12-15T16:39:06.150' AS DateTime), 1, N'LAB-20251215-3001', CAST(N'2025-12-15T16:36:06.113' AS DateTime), CAST(N'2025-12-15T19:33:51.553' AS DateTime), N'Cash', 1)
GO
SET IDENTITY_INSERT [dbo].[patient_charges] OFF
GO
SET IDENTITY_INSERT [dbo].[pharmacy_customer] ON 

INSERT [dbo].[pharmacy_customer] ([customerid], [customer_name], [phone], [email], [address], [date_registered]) VALUES (1, N'mohamed hussein dhalahow', N'1234433', N'admin@teekoob.com', N'kismayo
shaqaaalaha', CAST(N'2025-12-17T14:35:03.877' AS DateTime))
SET IDENTITY_INSERT [dbo].[pharmacy_customer] OFF
GO
SET IDENTITY_INSERT [dbo].[pharmacy_return_items] ON 

INSERT [dbo].[pharmacy_return_items] ([return_item_id], [returnid], [original_sale_item_id], [medicineid], [inventoryid], [quantity_type], [quantity_returned], [original_unit_price], [return_amount], [original_cost_price], [profit_reversed]) VALUES (1, 1, 20, 2, 2, N'bottle', 1, 2, 2, 1.5, 0.5)
INSERT [dbo].[pharmacy_return_items] ([return_item_id], [returnid], [original_sale_item_id], [medicineid], [inventoryid], [quantity_type], [quantity_returned], [original_unit_price], [return_amount], [original_cost_price], [profit_reversed]) VALUES (2, 2, 19, 2, 2, N'bottle', 1, 2, 2, 1.5, 0.5)
INSERT [dbo].[pharmacy_return_items] ([return_item_id], [returnid], [original_sale_item_id], [medicineid], [inventoryid], [quantity_type], [quantity_returned], [original_unit_price], [return_amount], [original_cost_price], [profit_reversed]) VALUES (3, 3, 21, 2, 2, N'bottle', 1, 5, 5, 1.5, 3.5)
SET IDENTITY_INSERT [dbo].[pharmacy_return_items] OFF
GO
SET IDENTITY_INSERT [dbo].[pharmacy_returns] ON 

INSERT [dbo].[pharmacy_returns] ([returnid], [return_invoice], [original_saleid], [original_invoice], [customer_name], [return_date], [total_return_amount], [return_reason], [processed_by], [status], [refund_method]) VALUES (1, N'RET-20251217-00001', 19, N'INV-20251217-121836', N'Walk-in Customer', CAST(N'2025-12-17T03:05:42.100' AS DateTime), 2, N'bhh', 0, 1, N'Cash')
INSERT [dbo].[pharmacy_returns] ([returnid], [return_invoice], [original_saleid], [original_invoice], [customer_name], [return_date], [total_return_amount], [return_reason], [processed_by], [status], [refund_method]) VALUES (2, N'RET-20251217-00002', 18, N'INV-20251217-121758', N'Walk-in Customer', CAST(N'2025-12-17T03:06:36.910' AS DateTime), 2, N'hh', 0, 1, N'Cash')
INSERT [dbo].[pharmacy_returns] ([returnid], [return_invoice], [original_saleid], [original_invoice], [customer_name], [return_date], [total_return_amount], [return_reason], [processed_by], [status], [refund_method]) VALUES (3, N'RET-20251217-00003', 20, N'INV-20251217-140815', N'Walk-in Customer', CAST(N'2025-12-17T03:08:37.210' AS DateTime), 5, N'ggg', 0, 1, N'Cash')
SET IDENTITY_INSERT [dbo].[pharmacy_returns] OFF
GO
SET IDENTITY_INSERT [dbo].[pharmacy_sales] ON 

INSERT [dbo].[pharmacy_sales] ([saleid], [invoice_number], [customerid], [customer_name], [sale_date], [total_amount], [discount], [final_amount], [sold_by], [payment_method], [status], [total_cost], [total_profit], [sale_id]) VALUES (1, N'INV-20251215-204629', NULL, N'baajaa', CAST(N'2025-12-15T20:46:29.623' AS DateTime), 4, 0, 4, 2, N'Cash', 1, 0.1, 3.9, NULL)
INSERT [dbo].[pharmacy_sales] ([saleid], [invoice_number], [customerid], [customer_name], [sale_date], [total_amount], [discount], [final_amount], [sold_by], [payment_method], [status], [total_cost], [total_profit], [sale_id]) VALUES (2, N'INV-20251215-205504', NULL, N'muuse', CAST(N'2025-12-15T20:55:04.440' AS DateTime), 15, 0, 15, 2, N'Cash', 1, 0, 15, NULL)
INSERT [dbo].[pharmacy_sales] ([saleid], [invoice_number], [customerid], [customer_name], [sale_date], [total_amount], [discount], [final_amount], [sold_by], [payment_method], [status], [total_cost], [total_profit], [sale_id]) VALUES (3, N'INV-20251215-205602', NULL, N'muuse', CAST(N'2025-12-15T20:56:02.643' AS DateTime), 2.1, 0, 2.1, 2, N'Cash', 1, 0.05, 2.05, NULL)
SET IDENTITY_INSERT [dbo].[pharmacy_sales] OFF
GO
SET IDENTITY_INSERT [dbo].[pharmacy_sales_items] ON 

INSERT [dbo].[pharmacy_sales_items] ([sale_item_id], [saleid], [medicineid], [inventoryid], [quantity_type], [quantity], [unit_price], [total_price], [cost_price], [profit], [sale_id], [medicine_id], [inventory_id]) VALUES (1, 1, 1, 1, N'stripe', 2, 2, 4, 0.05, 3.9, 1, 1, 1)
INSERT [dbo].[pharmacy_sales_items] ([sale_item_id], [saleid], [medicineid], [inventoryid], [quantity_type], [quantity], [unit_price], [total_price], [cost_price], [profit], [sale_id], [medicine_id], [inventory_id]) VALUES (2, 2, 2, 2, N'bottle', 5, 3, 15, 0, 15, 2, 2, 2)
INSERT [dbo].[pharmacy_sales_items] ([sale_item_id], [saleid], [medicineid], [inventoryid], [quantity_type], [quantity], [unit_price], [total_price], [cost_price], [profit], [sale_id], [medicine_id], [inventory_id]) VALUES (3, 3, 1, 1, N'pieces', 1, 0.1, 0.1, 0.05, 0.05, 3, 1, 1)
SET IDENTITY_INSERT [dbo].[pharmacy_sales_items] OFF
GO
SET IDENTITY_INSERT [dbo].[pharmacy_user] ON 

INSERT [dbo].[pharmacy_user] ([userid], [fullname], [phone], [username], [password]) VALUES (2, N'ali  abdi kusow', N'0619727053', N'kusow', N'kusow')
SET IDENTITY_INSERT [dbo].[pharmacy_user] OFF
GO
SET IDENTITY_INSERT [dbo].[prescribtion] ON 

INSERT [dbo].[prescribtion] ([prescid], [doctorid], [patientid], [status], [xray_status], [lab_charge_paid], [xray_charge_paid], [transaction_status], [completed_date]) VALUES (3001, 2, 1001, 5, 0, 1, 0, N'pending', NULL)
INSERT [dbo].[prescribtion] ([prescid], [doctorid], [patientid], [status], [xray_status], [lab_charge_paid], [xray_charge_paid], [transaction_status], [completed_date]) VALUES (3002, 4, 1002, 5, 0, 1, 0, N'pending', NULL)
INSERT [dbo].[prescribtion] ([prescid], [doctorid], [patientid], [status], [xray_status], [lab_charge_paid], [xray_charge_paid], [transaction_status], [completed_date]) VALUES (3003, 4, 1003, 0, 0, 0, 0, N'pending', NULL)
SET IDENTITY_INSERT [dbo].[prescribtion] OFF
GO
SET IDENTITY_INSERT [dbo].[registre] ON 

INSERT [dbo].[registre] ([userid], [fullname], [phone], [username], [password], [usertypeid]) VALUES (2, N'Abdiladif salad adan ', 616304862, N'rais', N'rais', NULL)
SET IDENTITY_INSERT [dbo].[registre] OFF
GO
SET IDENTITY_INSERT [dbo].[usertype] ON 

INSERT [dbo].[usertype] ([usertypeid], [usertype]) VALUES (7, N'Admin')
INSERT [dbo].[usertype] ([usertypeid], [usertype]) VALUES (8, N'Doctor')
INSERT [dbo].[usertype] ([usertypeid], [usertype]) VALUES (9, N'Reciptionist')
SET IDENTITY_INSERT [dbo].[usertype] OFF
GO
SET IDENTITY_INSERT [dbo].[xray] ON 

INSERT [dbo].[xray] ([xrayid], [xryname], [xrydescribtion], [prescid], [date_taken], [type]) VALUES (1, N'Chest AP Xray', N'Indication: Blunt chest trauma', 3016, CAST(N'2025-12-18' AS Date), N'0')
SET IDENTITY_INSERT [dbo].[xray] OFF
GO
/****** Object:  Index [IX_lab_results_lab_test_id]    Script Date: 12/19/2025 9:22:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_lab_results_lab_test_id] ON [dbo].[lab_results]
(
	[lab_test_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_lab_test_reorder]    Script Date: 12/19/2025 9:22:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_lab_test_reorder] ON [dbo].[lab_test]
(
	[is_reorder] ASC,
	[prescid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_lab_test_prices_category]    Script Date: 12/19/2025 9:22:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_lab_test_prices_category] ON [dbo].[lab_test_prices]
(
	[test_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_lab_test_prices_name]    Script Date: 12/19/2025 9:22:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_lab_test_prices_name] ON [dbo].[lab_test_prices]
(
	[test_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_medicine_barcode]    Script Date: 12/19/2025 9:22:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_medicine_barcode] ON [dbo].[medicine]
(
	[barcode] ASC
)
WHERE ([barcode] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_medicine_inventory_expiry]    Script Date: 12/19/2025 9:22:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_medicine_inventory_expiry] ON [dbo].[medicine_inventory]
(
	[expiry_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_patient_bed_charges_date]    Script Date: 12/19/2025 9:22:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_patient_bed_charges_date] ON [dbo].[patient_bed_charges]
(
	[charge_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_patient_bed_charges_patient]    Script Date: 12/19/2025 9:22:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_patient_bed_charges_patient] ON [dbo].[patient_bed_charges]
(
	[patientid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_patient_charges_charge_type]    Script Date: 12/19/2025 9:22:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_patient_charges_charge_type] ON [dbo].[patient_charges]
(
	[charge_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_patient_charges_is_paid]    Script Date: 12/19/2025 9:22:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_patient_charges_is_paid] ON [dbo].[patient_charges]
(
	[is_paid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_patient_charges_patientid]    Script Date: 12/19/2025 9:22:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_patient_charges_patientid] ON [dbo].[patient_charges]
(
	[patientid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_patient_charges_prescid]    Script Date: 12/19/2025 9:22:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_patient_charges_prescid] ON [dbo].[patient_charges]
(
	[prescid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_patient_charges_reference]    Script Date: 12/19/2025 9:22:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_patient_charges_reference] ON [dbo].[patient_charges]
(
	[reference_id] ASC,
	[charge_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_return_items_medicineid]    Script Date: 12/19/2025 9:22:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_return_items_medicineid] ON [dbo].[pharmacy_return_items]
(
	[medicineid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_returns_invoice]    Script Date: 12/19/2025 9:22:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_returns_invoice] ON [dbo].[pharmacy_returns]
(
	[return_invoice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_returns_original_saleid]    Script Date: 12/19/2025 9:22:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_returns_original_saleid] ON [dbo].[pharmacy_returns]
(
	[original_saleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_pharmacy_sales_date]    Script Date: 12/19/2025 9:22:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_pharmacy_sales_date] ON [dbo].[pharmacy_sales]
(
	[sale_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_pharmacy_sales_invoice]    Script Date: 12/19/2025 9:22:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_pharmacy_sales_invoice] ON [dbo].[pharmacy_sales]
(
	[invoice_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[charges_config] ADD  DEFAULT ((0)) FOR [amount]
GO
ALTER TABLE [dbo].[charges_config] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[charges_config] ADD  CONSTRAINT [DF_charges_config_date_added]  DEFAULT (getdate()) FOR [date_added]
GO
ALTER TABLE [dbo].[charges_config] ADD  CONSTRAINT [DF_charges_config_last_updated]  DEFAULT (getdate()) FOR [last_updated]
GO
ALTER TABLE [dbo].[hospital_settings] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[hospital_settings] ADD  DEFAULT (getdate()) FOR [updated_date]
GO
ALTER TABLE [dbo].[lab_results] ADD  CONSTRAINT [DF_lab_results_date_taken]  DEFAULT (getdate()) FOR [date_taken]
GO
ALTER TABLE [dbo].[lab_test] ADD  CONSTRAINT [DF_lab_test_date_taken]  DEFAULT (getdate()) FOR [date_taken]
GO
ALTER TABLE [dbo].[lab_test_prices] ADD  DEFAULT ((0)) FOR [test_price]
GO
ALTER TABLE [dbo].[lab_test_prices] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[lab_test_prices] ADD  DEFAULT (getdate()) FOR [date_added]
GO
ALTER TABLE [dbo].[lab_test_prices] ADD  DEFAULT (getdate()) FOR [last_updated]
GO
ALTER TABLE [dbo].[medication] ADD  CONSTRAINT [DF_medication_data_taken]  DEFAULT (getdate()) FOR [date_taken]
GO
ALTER TABLE [dbo].[medicine] ADD  DEFAULT ((10)) FOR [tablets_per_strip]
GO
ALTER TABLE [dbo].[medicine] ADD  DEFAULT ((10)) FOR [strips_per_box]
GO
ALTER TABLE [dbo].[medicine] ADD  CONSTRAINT [DF_medicine_date_added]  DEFAULT (getdate()) FOR [date_added]
GO
ALTER TABLE [dbo].[medicine] ADD  DEFAULT ((0)) FOR [cost_per_tablet]
GO
ALTER TABLE [dbo].[medicine] ADD  DEFAULT ((0)) FOR [cost_per_strip]
GO
ALTER TABLE [dbo].[medicine] ADD  DEFAULT ((0)) FOR [cost_per_box]
GO
ALTER TABLE [dbo].[medicine_dispensing] ADD  CONSTRAINT [DF_medicine_dispensing_dispense_date]  DEFAULT (getdate()) FOR [dispense_date]
GO
ALTER TABLE [dbo].[medicine_dispensing] ADD  CONSTRAINT [DF_medicine_dispensing_status]  DEFAULT ('0') FOR [status]
GO
ALTER TABLE [dbo].[medicine_inventory] ADD  DEFAULT ((0)) FOR [total_strips]
GO
ALTER TABLE [dbo].[medicine_inventory] ADD  DEFAULT ((0)) FOR [loose_tablets]
GO
ALTER TABLE [dbo].[medicine_inventory] ADD  DEFAULT ((0)) FOR [total_boxes]
GO
ALTER TABLE [dbo].[medicine_inventory] ADD  DEFAULT ((10)) FOR [reorder_level_strips]
GO
ALTER TABLE [dbo].[medicine_inventory] ADD  CONSTRAINT [DF_medicine_inventory_date_added]  DEFAULT (getdate()) FOR [date_added]
GO
ALTER TABLE [dbo].[medicine_inventory] ADD  CONSTRAINT [DF_medicine_inventory_last_updated]  DEFAULT (getdate()) FOR [last_updated]
GO
ALTER TABLE [dbo].[medicine_units] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[medicine_units] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[medicine_units] ADD  DEFAULT ((0)) FOR [allows_subdivision]
GO
ALTER TABLE [dbo].[patient] ADD  CONSTRAINT [DF_patient_date_registered]  DEFAULT (getdate()) FOR [date_registered]
GO
ALTER TABLE [dbo].[patient] ADD  CONSTRAINT [DF_patient_patient_status]  DEFAULT ('0') FOR [patient_status]
GO
ALTER TABLE [dbo].[patient] ADD  DEFAULT ('outpatient') FOR [patient_type]
GO
ALTER TABLE [dbo].[patient] ADD  DEFAULT ((0)) FOR [delivery_charge]
GO
ALTER TABLE [dbo].[patient_bed_charges] ADD  DEFAULT ((0)) FOR [is_paid]
GO
ALTER TABLE [dbo].[patient_bed_charges] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[patient_charges] ADD  DEFAULT ((0)) FOR [is_paid]
GO
ALTER TABLE [dbo].[patient_charges] ADD  CONSTRAINT [DF_patient_charges_date_added]  DEFAULT (getdate()) FOR [date_added]
GO
ALTER TABLE [dbo].[patient_charges] ADD  CONSTRAINT [DF_patient_charges_last_updated]  DEFAULT (getdate()) FOR [last_updated]
GO
ALTER TABLE [dbo].[pharmacy_customer] ADD  CONSTRAINT [DF_pharmacy_customer_date_registered]  DEFAULT (getdate()) FOR [date_registered]
GO
ALTER TABLE [dbo].[pharmacy_return_items] ADD  DEFAULT ((0)) FOR [original_cost_price]
GO
ALTER TABLE [dbo].[pharmacy_return_items] ADD  DEFAULT ((0)) FOR [profit_reversed]
GO
ALTER TABLE [dbo].[pharmacy_returns] ADD  DEFAULT (getdate()) FOR [return_date]
GO
ALTER TABLE [dbo].[pharmacy_returns] ADD  DEFAULT ((0)) FOR [total_return_amount]
GO
ALTER TABLE [dbo].[pharmacy_returns] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[pharmacy_sales] ADD  CONSTRAINT [DF_pharmacy_sales_sale_date]  DEFAULT (getdate()) FOR [sale_date]
GO
ALTER TABLE [dbo].[pharmacy_sales] ADD  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[pharmacy_sales] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[pharmacy_sales] ADD  DEFAULT ((0)) FOR [total_cost]
GO
ALTER TABLE [dbo].[pharmacy_sales] ADD  DEFAULT ((0)) FOR [total_profit]
GO
ALTER TABLE [dbo].[pharmacy_sales_items] ADD  DEFAULT ((0)) FOR [cost_price]
GO
ALTER TABLE [dbo].[pharmacy_sales_items] ADD  DEFAULT ((0)) FOR [profit]
GO
ALTER TABLE [dbo].[prescribtion] ADD  CONSTRAINT [DF_prescribtion_status]  DEFAULT ('0') FOR [status]
GO
ALTER TABLE [dbo].[prescribtion] ADD  CONSTRAINT [DF_prescribtion_xray_status]  DEFAULT ('0') FOR [xray_status]
GO
ALTER TABLE [dbo].[prescribtion] ADD  DEFAULT ((0)) FOR [lab_charge_paid]
GO
ALTER TABLE [dbo].[prescribtion] ADD  DEFAULT ((0)) FOR [xray_charge_paid]
GO
ALTER TABLE [dbo].[prescribtion] ADD  DEFAULT ('pending') FOR [transaction_status]
GO
ALTER TABLE [dbo].[xray] ADD  CONSTRAINT [DF_xray_date_taken]  DEFAULT (getdate()) FOR [date_taken]
GO
ALTER TABLE [dbo].[xray_results] ADD  CONSTRAINT [DF_xray_results_date_taken]  DEFAULT (getdate()) FOR [date_taken]
GO
ALTER TABLE [dbo].[lab_results]  WITH CHECK ADD  CONSTRAINT [FK_lab_results_lab_test] FOREIGN KEY([lab_test_id])
REFERENCES [dbo].[lab_test] ([med_id])
GO
ALTER TABLE [dbo].[lab_results] CHECK CONSTRAINT [FK_lab_results_lab_test]
GO
ALTER TABLE [dbo].[patient_bed_charges]  WITH CHECK ADD  CONSTRAINT [FK_patient_bed_charges_patient] FOREIGN KEY([patientid])
REFERENCES [dbo].[patient] ([patientid])
GO
ALTER TABLE [dbo].[patient_bed_charges] CHECK CONSTRAINT [FK_patient_bed_charges_patient]
GO
ALTER TABLE [dbo].[patient_bed_charges]  WITH CHECK ADD  CONSTRAINT [FK_patient_bed_charges_prescription] FOREIGN KEY([prescid])
REFERENCES [dbo].[prescribtion] ([prescid])
GO
ALTER TABLE [dbo].[patient_bed_charges] CHECK CONSTRAINT [FK_patient_bed_charges_prescription]
GO
ALTER TABLE [dbo].[pharmacy_return_items]  WITH CHECK ADD  CONSTRAINT [FK_return_items_returns] FOREIGN KEY([returnid])
REFERENCES [dbo].[pharmacy_returns] ([returnid])
GO
ALTER TABLE [dbo].[pharmacy_return_items] CHECK CONSTRAINT [FK_return_items_returns]
GO
/****** Object:  StoredProcedure [dbo].[DeleteOldRecordsByWeeks]    Script Date: 12/19/2025 9:22:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[DeleteOldRecordsByWeeks]
    @Weeks INT
AS
BEGIN
    DELETE FROM [juba_clinick].[dbo].[medication]
    WHERE date_taken < DATEADD(WEEK, -@Weeks, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProcessMedicineReturn]    Script Date: 12/19/2025 9:22:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ProcessMedicineReturn]
    @original_saleid INT,
    @return_reason VARCHAR(500),
    @refund_method VARCHAR(50),
    @processed_by INT,
    @return_items NVARCHAR(MAX), -- JSON array of items to return
    @returnid INT OUTPUT,
    @return_invoice VARCHAR(50) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION
        
        -- Generate return invoice number
        SET @return_invoice = 'RET-' + CONVERT(VARCHAR(8), GETDATE(), 112) + '-' + 
                             RIGHT('00000' + CAST(ISNULL((SELECT MAX(returnid) FROM pharmacy_returns), 0) + 1 AS VARCHAR), 5)
        
        -- Get original sale details
        DECLARE @original_invoice VARCHAR(50)
        DECLARE @customer_name VARCHAR(100)
        DECLARE @total_return_amount FLOAT = 0
        
        SELECT @original_invoice = invoice_number, @customer_name = customer_name
        FROM pharmacy_sales WHERE saleid = @original_saleid
        
        IF @original_invoice IS NULL
        BEGIN
            RAISERROR('Original sale not found', 16, 1)
            RETURN
        END
        
        -- Insert return header
        INSERT INTO pharmacy_returns (return_invoice, original_saleid, original_invoice, customer_name, 
                                     return_reason, processed_by, refund_method)
        VALUES (@return_invoice, @original_saleid, @original_invoice, @customer_name,
               @return_reason, @processed_by, @refund_method)
        
        SET @returnid = SCOPE_IDENTITY()
        
        -- Process return items (this will be called from C# code which parses JSON)
        -- The actual item processing will be done in the C# code
        
        COMMIT TRANSACTION
        
        SELECT @returnid as returnid, @return_invoice as return_invoice
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE()
        RAISERROR(@ErrorMessage, 16, 1)
    END CATCH
END
GO
USE [master]
GO
